.hour-status-icon {
    /*max-width: 100%;*/
    /*height: 1.8rem;*/
    max-height: 100%;
    width: 2rem;
    margin-top: 0.2rem;
}

.hour-status-container {
    padding-right: 1rem;
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
}

.goofyahh-wrap {
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
    height: 3.8rem;
}