@font-face {
  font-family: "RubikBold";
  src: local("RubikBold"),
  url("./fonts/rubik/Rubik-Bold.ttf") format("opentype");
  font-weight: normal;
}

@font-face {
  font-family: "RubikRegular";
  src: local("RubikRegular"),
  url("./fonts/rubik/Rubik-Regular.ttf") format("opentype");
  font-weight: normal;
}

@font-face {
  font-family: "RubikLight";
  src: local("RubikLight"),
  url("./fonts/rubik/Rubik-Light.ttf") format("opentype");
  font-weight: normal;
}

:root {
  font-family: RubikLight;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  /*background-image: linear-gradient(to bottom, #006b93 0, #3da2c6 13rem, #97cfe3 22rem, #ffffff 28rem, #ffffff 100%, #ffffff 200%);*/
  /*background-size: 100% 200vh;*/
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #ffffff;
  text-decoration: inherit;
}
a:hover {
  color: #ffffff;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  /*display:inline-block;*/
  min-height: 135vh;
  /*width: 100vw !important;*/
  overflow-x: hidden;
}

p {
  display: block;
  margin-block-start: 0em !important;
  margin-block-end: 0em !important;
  margin-inline-start: 0px !important;
  margin-inline-end: 0px !important;
  unicode-bidi: isolate;
}

.footer {
  text-align: center;
  position: absolute;
  top: 135vh;
  left: 0;
  right: 0;
  padding-bottom: 1rem;
}

/** {*/
/*  -webkit-box-sizing: border-box;*/
/*  -moz-box-sizing: border-box;*/
/*  box-sizing: border-box;*/
/*}*/